.comment-image {
  width: auto;
  height: 170px;
  object-fit: contain;
}

.comment-card {
  width: 250px;
  height: 360px;
  position: relative;
  z-index: 0;
}


.edit-card,.delete-card{
  font-size: 24px;
  top: 5px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.edit-card{
  right:50px;
  color: #0d6efd;
}

.delete-card{
  right: 15px;
  color: #dc3546;

}

